*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-container{
  width: 100vw;
  height: 100vh;
  /* filter: blur(1px); */
  height: 100vh;
}

.main-container{
  width: 100vw;
  height: 100vh;
}

.content-container{
  border-radius: 40px;
  /* background: #000000d0; */
 background-color: #000000d0;
 color: #ffffff;

}

/* .imagediv{
  filter: blur(1px);
  height: 100vh;
  z-index: -1;
} */

/* .content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ffffff;

} */

 /* .content-container-2{
  border-radius: 10px;
  background: #000000d0;
} */

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-container>input{
  width: 85%;
  border-radius: 20px;
  background-color: #7c7c7c2b;
  color: #ffffff;
  border: none;
  line-height: 2em;
  padding:0 0 3px 10px;
  font-size: 24px;
}
.search-container>div{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 5%; */
  border-radius: 50%;
  background-color: #7c7c7c2b;
  text-align: center;
  color: #ffffff;
  padding: 12px;
}

.weather-data{
  padding-left: 20px;
} 